*{
    margin: 0%;
    padding: 0%;
}
.logo{
    height:150px;
    width:160px;
    margin-top:20px;
    border-radius:100px;
    opacity:0.9;
}
body {
  background-image: url('amcfullimage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height:800px;
}
        .loginname{
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: bold;
            text-align: center;
            text-shadow:5px;
            margin-bottom:18px;

        }
.fullbar{
    background-color: rgb(36, 36, 36);
    height:25px;
    padding-top:5px;
    border-radius:18px;

}
.navtag1{
   
    color: rgb(255, 255, 255);
    display:inline-block;
    display: inline;
    margin-left:10px;
    border-radius: 10px;
    padding-bottom:1px;
    width:20px;
    text-align:center;
    cursor: pointer;
}
.navtag1:hover{
    background-color: rgb(62, 89, 238);;
    color: rgb(0, 0, 0);
    transform:scale(1.3);
    transform:100s;
}
.navtag2{
   
    color: rgb(255, 255, 255);
    display:inline-block;
    margin-left:10px;
    border-radius: 3px;
    width:50px;
    text-align:center;
    cursor: pointer;
}
.navtag2:hover{
    background-color: rgb(62, 89, 238);
    color: rgb(0, 0, 0);
    transform:scale(1.4);
}
.navtag3{
    color: rgb(255, 255, 255);
    display:inline-block;
    margin-left:10px;
    border-radius: 3px;
    width:50px;
    text-align:center;
    cursor: pointer;
}
.navtag3:hover{
    background-color: rgb(62, 89, 238);;
    color: rgb(0, 0, 0);
    transform:scale(1.3);
}
        .navtag1{

            padding-right:10px;
            padding-left:10px;
            border:-10px;
            display:inline-block;
            margin-bottom:5px;
            display:inline;
        }
.navbox{
    background-color: black;
    color: aliceblue;
    width:260px;
    height:440px;
    top:255px;
    position: absolute;
    opacity:0.9;
    display:none;
    margin-bottom:5px;
    margin-top:62px;
    border-radius:7px;
    box-shadow:0 24px 35px rgb(56, 56, 56);

}

.loginbox{
    border:20px;
    box-shadow:0 24px 34px rgb(61, 155, 249);
    width:340px;
    height:350px;
    backdrop-filter:blur(4px);
    border-radius:20px;
    margin-top:100px;
    cursor: pointer;
}
.student,.pass{
    color: inherit;
    border:none;
    border-bottom:1px solid rgb(57, 57, 57);
    background-color: transparent;
    width:200px;
    padding-bottom:5px;
    outline:none;
    padding-right:20px;
    margin-bottom: 15px;
}
.inputname1{
    padding-right:205px;
    padding-bottom:10px;
}
.inputname2{
    padding-right:190px;
    padding-bottom:10px;
    
}
.loginbutton{
    background-color: rgb(57, 57, 224);
    color: aliceblue;
    width:200px;
    height:30px;
    border-radius:20px;
    margin-top: 10px;
    border:none;
    margin-bottom:10px;
}
.singup{
    margin-bottom: 10px;
}
.icon{
    color: rgb(39, 39, 206);
    text-align:center;
    background-color: rgb(129, 129, 129);
    display:inline-block;
    border-radius:20px;
    height:20px;
    width:35px;
    padding-top:5px;
    margin-right:10px;
}
.icon1{
    color: rgb(39,39,206);
    text-align:center;
    background-color: rgb(129, 129, 129);
    display:inline-block;
    border-radius:20px;
    height:20px;
    width:35px;
    padding-top:5px;
    margin-left:10px;
}
.lastbar{
    background-color: black;
    color: aliceblue;
    margin-top: 250px;
    width:100%;
    height:20px;
    text-align: center;
}




